.navb{
  
   margin-top: -10px;
background: linear-gradient(90deg, rgba(16,12,97,1) 0%, rgba(18,18,163,1) 48%, rgba(0,212,255,1) 100%);
height: 193px;
}
.three-columns-grid {
    padding: 0px 140px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.hr{
    margin: 0px 120px;
    margin-bottom: -20px;
    color: aliceblue;
}

/* columns */
.three-columns-grid > * {
    padding:1rem;
}
.vertical {
    border-left: 6px solid rgb(221, 221, 253);
    height: 200px;
    position:absolute;
    left: 50%;
}
.white {
    color: aliceblue;
    margin-right: -10PX;
}
.six-columns-grid {
    padding: 0px 140px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

/* columns */
.six-columns-grid > * {
    padding:1rem;
}
.six-columns-grid p:hover {
    color: black;
    
}

.six{
    margin-bottom: 0px;
}
.proof {
    background: url('./img/Proof.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(4px);
  -webkit-filter: blur(4px);
    
 height: 500px;
}
.newdiv{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.newdiv1{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 80%;
  left: 19%;
  transform: translate(-50%, -50%);
  z-index: 2;
 
  padding: 20px;
  text-align: center;
  margin-left: 120px;
}

.newdiv2{
     
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
 
  padding: 20px;
  text-align: center;
 
  margin-right: 400px;
}

.column {
    float: left;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .indiv{
    margin-top: 23px;
    margin-left: 250px;
    margin-right: 250px;
    height: 470px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  }

  .divin{
    padding-top: 30px;
   font-size: 20px;
   text-align: left;
  }





 
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-top: -30px;
  }
  
  /* Add a blue background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgba(18,18,163,1)  ;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(45, 13, 226);
    width: 18%;
    z-index: 1;
    height: 3.5%;
    margin-left: 480px;
    border-radius: 10px;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  


  .head-medicineTaken{
    text-align: center;
    background-color: rgb(45, 13, 226);
   padding-bottom: 10px;
   position: sticky;
   padding-top: 10px;
   color: white;
   margin-bottom: 0px;
   margin-top: 10px;
}
.medicine-item2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    row-gap: 15px; 
    padding: 2rem;
  
  }
  
  @media screen  and (max-width: 1000px) {
    .medicine-item2{
      grid-template-columns: repeat(3,1fr);
    }
  }
  .medicinecard2{
    padding-bottom: 6px;
    padding-top: 1px;
    border-radius: 6px;
    border:2px solid #dfe3e6;
   
}


.medicinecard2 img{
    margin-bottom: 13px;
    border-radius: 5px;
}
.medicine-detail2{
    margin-top: -7px;
    text-align: center;
}
.medicine-detail2 button{
  display: block;
  background-color: #4388dc;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  text-align: center;
  margin-left: 70px;
  
  border-style: none;
  margin-bottom: 8px;
}
.medicine-detail3{
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
  padding: 20px;
   
}

.medicine-item3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 27px;
  row-gap: 35px; 
  padding: 2rem;
}

@media screen  and (max-width: 1000px) {
  .medicine-item3{
    grid-template-columns: repeat(2,1fr);
  }
}





.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}




.contact-us {
  
  padding: 50px 0;
}

.container2 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  max-width: 800px;
 margin-top: 105px;
  padding: 0 20px;
  text-align: center;
}

.contact-us h1, h2 {
  color: #003366;
}

.contact-us h1 {
 
  margin-bottom: 20px;
}
 
.contact-us h2 {
  
  margin: 20px 0;
}

.contact-us p {
  
  line-height: 1.6;
  margin: 10px 0;
}

.contact-info a {
  color: #003366;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}




.proof1{
  background: url('https://cosmos2024.in/assets/npol_images/bg_1.jpeg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(4px);
-webkit-filter: blur(4px);
height: 520px;
}

footer{
  background-color:rgb(9, 9, 219);
}
footercontainer{
  width: 100%;
  padding: 70px 30px 20px;

}
.socialicon{
  display: flex;
  justify-content: center;
}
.socialicon a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicon a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
.socialicon a:hover{
  background-color: rgb(30, 27, 182);
  transition: 0.5s;
}
.footernav{
  margin: 30px 0;

}
.footernav ul{
  display: flex;
  justify-content: center;
}
.footernav ul li a{
  color: white;
  margin: 20px;
  font-size: 1.3em;
  opacity: 0.7;

}
.footernav ul li a:hover{
  opacity: 1;
}
.footerbootem{
  background-color:black;
  padding: 20px;
  text-align: center;

}
.footerbootem p{
 color: white;
}